/*font-family: 'Poppins', sans-serif;
*/
h1,h2,h3,h4,h5,h6,p,html{
	font-family: 'Poppins', sans-serif;
}
header{
	background-color: #f8f9fa;
}
.header-cont{
	padding: 10% 0 10% 0;
	background: url('../images/sars-covid19-helpline-header-image.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: #f5dcb3
}
.entry-content{
	padding: 3% 0 3% 0;
}
.helpline-not{
	padding: 3% 0 3% 0;
	background-color: #f5dcb3;
}
.footer-cont{
	padding: 10px 0 10px 0;
}

//Admin Area

.title{
	padding: 40px 0 40px 0;
	background-color: #f5dcb3;
}
.tablesforlisting{
	padding: 3% 20px 3% 20px; 
}
.login-form{
	background-color: #f5dcb3;
	padding: 5%;
}


// Supser User


.sidebar-cont{
	background-color: #0ee;
	color: #000;
}